
@{
    ViewData["Title"] = "Home Page";
}
@section UserNav{}
@section NormalNav{}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="btn-group-vertical">
        <a type="button" class="btn" asp-controller="Products" asp-action="Create">Admin Portal</a>   
        <a type="button" class="btn" asp-controller="Products" asp-action="Browse">Browse</a>
        <a type="button" class="btn" asp-controller="User" asp-action="Login">Login</a>
        <a type="button" class="btn" asp-controller="User" asp-action="Register">Register</a>
    </div>
</div>
