@{
    ViewData["Title"] = "Home Page";
}
@section UserNav{}
@section NormalNav{}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a type="button" class="btn" asp-controller="Data" asp-action="Create">Admin Portal</a>
</div>
